
/**********************8*88*/
/*responsive***************/

/******************************/
@media (min-width:320px) and (max-width:480px) {
	.collapse .navbar-nav li a{
		margin: 0;

/*		font-size: 12px;
	color: #8e8e8e;
	text-transform: uppercase;
	font-weight: 700px;*/
}

	.collapse {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 12px;
	color: #8e8e8e;
	text-transform: uppercase;
	font-weight: 700px;
	
	}
	
.search {
	text-align: right;
}




	.banner-section{
		width: 100%;
		margin: 0;
		padding: 20px 0px;
		text-align: center;
	}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}
/*wellcome-section-starte*/
.wellcome-section{
	padding: 30px 0px;
	text-align: center;
}
.wellcome-title h3{
	margin: 0;
	padding: 20px 0px;
}
.wellcome-title p{
	padding: 0;
	margin: 0;
}
.icon{
	margin-top: 50px;
}
/*wellcome-section-end*/

/*about-section-start*/
.about-section{
	padding: 30px 0px;
	text-align: center;
}
.ab-pic{
	padding: 30px 0px;
}
.about-inner h3{
text-align: center;

}
.about-inner p{
	padding:0px 0px
}

.about-inner a{
margin-top: 20px;

}
/*about-section-end*/

/*portfolio-section-start*/
.portfolio-section{
	padding: 30px 0px;
	margin: 0;
	text-align: center;
}
.portfolio-inner ul{
	margin: 0;
	padding: 0;
}
.portfolio-inner ul li{
font-size: 11px;
margin: 0px;
padding: 0px 10px;

}
.portfolio-inner img{
	width: 100%;
	margin: 0;
	padding: 0;
}
/*portfolio-section-end*/

/*work-section-start*/
.work-section{
	text-align: center;
}
/*work-section-start*/
.testmonial-section{
	text-align: center;
	padding: 0;
}
.testmonial-section img{
	padding: 0;
	margin: 0;
}
.testmonial{
	margin: 0;
	padding: 0;
}
/*work-section-end*/

/*best-priching-start*/
.best-priching{
	padding: 30px 0px;
}
.priching-inner{
	margin-bottom: 30px;
}

/*foter-section-start*/
.foter-section{
	padding: 30px 0px;
}
.foter-inner{
	width: 100%;
}
.social-icon{
	width: 100%;
}
.social-icon li{
	display: inline-block;
	padding: 5px 10px;
	font-size: 10px;
	border-radius: 5px;
	margin-left: 5px;
	border: 2px solid #dddddd;
}




.foter-inner .foter-item h4{
	text-align: center;
}
.foter-inner .foter-item p{
	text-align: center;
	margin: 0;
	padding: 0;
}
/*foter-section-end*/

/*contuct-us-start*/
.foter-p{
	width: 100%;
	font-size: 10px;
}
.foter-menu li{
	
	font-size: 7px;
	padding: 0;
	margin: 0;
}
/*contuct-us-end*/



}